.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
}

.item:last-child {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  padding: 5px 15px;
  width: 100px;
}
